<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">BestOnlineShopEver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	  </li>
	</ul>
	<form class="form-inline my-2 my-lg-0">
	  <h6 class = "text-success" style="margin-top:0; margin-bottom:0; margin-right: 5px;">0 Artikel im Warenkorb</h6>
	  <button class="btn btn-success my-2 my-sm-0" >Zum Warenkorb</button>
	</form>
  </div>
</nav>

<main role="main">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	  <div class="container">
		<h1 class="display-3">Wir sind der beste Online-Shop. Trust me bro.</h1>
		<p>You don't believe me? Kay then.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	  </div>
	</div>

	<div class="container">
	  <!-- Example row of columns -->
	  <div class="row">
		<div class="col-md-4">
		  <div class="card product">
			<img class="card-img-top" src="https://picsum.photos/400/250?random&gravity=center" alt="Card image cap">
			<div class="card-body">
			  <h5 class="card-title">Produktname</h5>
			  <p class="card-text">Produktbeschreibung</p>
			  <button type="button" class="btn btn-primary">100 EUR</button>
			</div>
			<div class="card-footer text-muted">
			  10
			  Stück vorhanden
			</div>
		  </div>
		</div>
	  </div>

	  <hr>

	</div> <!-- /container -->
</main>

<footer class="container">
  <p>&copy; BestOnlineShopEver 2017-2018</p>
</footer>
